# HAL

vendor_internal_prop(hal_prop)

# LCD
vendor_internal_prop(lcd_prop)

# Sensors
# XXX Why here? I only see access from hald in sepolicy,
# but this should be in the proper mixin.
vendor_internal_prop(sensor_prop)
