#allow shell logd:netlink_audit_socket { getattr setattr };
#allow shell shell:capability { sys_ptrace };
#allow shell shell:capability { dac_read_search };
#allow shell system_suspend:unix_dgram_socket { getattr setattr };
#allow shell keystore_data_file:file { getattr setattr };
#allow shell dgpu-switch_exec:file { entrypoint };
allow shell init:netlink_selinux_socket { getattr setattr };
allow shell init:unix_stream_socket { getattr setattr };
allow shell ueventd:netlink_kobject_uevent_socket { getattr setattr };
allow shell carwatchdogd:unix_dgram_socket { getattr setattr };
allow shell logd:fifo_file { getattr setattr };
allow shell logd:unix_stream_socket { getattr setattr };
allow shell logd:unix_dgram_socket { getattr setattr };
allow shell unlabeled:file { getattr setattr };
allow shell lmkd:unix_dgram_socket { getattr setattr };
allow shell lmkd:unix_stream_socket { getattr setattr };
allow shell ueventd:netlink_kobject_uevent_socket { getattr setattr };
allow shell proc_kmsg:file { getattr setattr };
allow shell proc_pressure_mem:file { getattr setattr };
allow shell servicemanager:netlink_selinux_socket { getattr setattr };
allow shell servicemanager:unix_dgram_socket { getattr setattr };
allow shell hwservicemanager:netlink_selinux_socket { getattr setattr };
allow shell hwservicemanager:unix_dgram_socket { getattr setattr };
allow shell vold:unix_dgram_socket { getattr setattr };
allow shell vold:netlink_kobject_uevent_socket { getattr setattr };
allow shell vold:fifo_file { getattr setattr };
allow shell sysfs_power:file { getattr setattr };
allow shell vndservicemanager:netlink_selinux_socket { getattr setattr };
allow shell vndservicemanager:unix_dgram_socket { getattr setattr };
allow shell tombstoned:unix_dgram_socket { getattr setattr };
allow shell tombstoned:fifo_file { getattr setattr };
allow shell carpowerpolicyd:unix_dgram_socket { getattr setattr };
allow shell sysfs_wakeup_reasons:file { getattr setattr };
allow shell evs_manager:unix_dgram_socket { getattr setattr };
allow shell netd:netlink_kobject_uevent_socket { getattr setattr };
allow shell sysfs_wakeup_reasons:file { getattr setattr };
allow shell statsd:unix_dgram_socket { getattr setattr };
allow shell keystore:netlink_selinux_socket { getattr setattr };
allow shell keystore:unix_dgram_socket { getattr setattr };
allow shell hal_atrace_default:unix_dgram_socket { getattr setattr };
allow shell hal_bootctl_default:unix_dgram_socket { getattr setattr };
allow shell hal_keymint_default:unix_dgram_socket { getattr setattr };
