type cast_server, domain, mlstrustedsubject, coredomain;
type cast_server_exec, system_file_type, exec_type, file_type;

init_daemon_domain(cast_server)

allow cast_server socket_device:dir { add_name remove_name search write };
allow cast_server dm_disp_socket:sock_file { create write getattr unlink read open };
allow cast_server dm_client_socket:sock_file { create write getattr unlink read open };
