type cast_client_app, domain, coredomain, socket_between_core_and_vendor_violators;

app_domain(cast_client_app)
net_domain(cast_client_app)

#============= cast_client_app ==============
allow cast_client_app cast_app_data_file:dir create_dir_perms;
allow cast_client_app cast_app_data_file:file create_file_perms;
allow cast_client_app socket_device:dir { add_name remove_name search write };
allow cast_client_app dm_disp_socket:sock_file { write read open unlink create};
allow cast_client_app dm_disp_socket:file { write read open unlink create};
allow cast_client_app dm_client_socket:sock_file { write read open unlink create};
allow cast_client_app dm_client_socket:file { write read open unlink create};
allow cast_client_app socket_device:sock_file create;

allow cast_client_app activity_service:service_manager find;
allow cast_client_app activity_task_service:service_manager find;
allow cast_client_app content_capture_service:service_manager find;
allow cast_client_app game_service:service_manager find;
allow cast_client_app gpu_service:service_manager find;
allow cast_client_app netstats_service:service_manager find;
allow cast_client_app surfaceflinger_service:service_manager find;
allow cast_client_app sysfs_gpu:dir search;
allow cast_client_app vendor_intel_render_selection_prop:file open;
allow cast_client_app virtual_device_service:service_manager find;
allow cast_client_app voiceinteraction_service:service_manager find;
allow cast_client_app vendor_intel_render_selection_prop:file { read getattr map };

dontaudit cast_client_app default_prop:file *;
