type cast_app_data_file, file_type, data_file_type, app_data_file_type;
type dm_disp_socket, file_type, coredomain_socket;
type dm_client_socket, file_type, coredomain_socket;
