allow init {
    boot_block_device
    vendor_block_device
    product_block_device
}:lnk_file relabelto;
allow init userdata_block_device:{ lnk_file blk_file } w_file_perms;
allowxperm init metadata_block_device:blk_file ioctl { BLKDISCARD BLKSECDISCARD };

allow init rootfs:file execute_no_trans;
allow init self:packet_socket read;
allow init self:udp_socket ioctl;
