type civ_applauncher, domain, coredomain;
type civ_applauncher_exec, exec_type, file_type, system_file_type;
init_daemon_domain(civ_applauncher)

#============= civ_applauncher ==============
allow civ_applauncher civ_applauncher_exec:file rx_file_perms;
allow civ_applauncher shell_exec:file  { rx_file_perms map };

allow civ_applauncher system_file:dir r_dir_perms;
allow civ_applauncher system_file:file rx_file_perms;

allow civ_applauncher self:{ socket vsock_socket tcp_socket} { getattr setattr getopt setopt create read write listen accept bind connect shutdown lock append };
allow civ_applauncher proc_net:file { r_file_perms };

allow civ_applauncher activity_service:service_manager find;

#============= binder ==============
binder_use(civ_applauncher)
binder_call(civ_applauncher, system_server)

#============= system_server ==============
allow system_server civ_applauncher:binder call;

#============= shell ==============
allow shell civ_applauncher_exec:file rx_file_perms;
