type load_iwl_modules_script, domain;
type load_iwl_modules_script_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(load_iwl_modules_script)

module_only(`thermal', `
  allow load_iwl_modules_script sysfs_thermal_management:dir r_dir_perms;
  allow load_iwl_modules_script sysfs_thermal_management:{file lnk_file} r_file_perms;
')

allow load_iwl_modules_script {
    rootfs
    vendor_file
}:system module_load;

allow load_iwl_modules_script self:capability sys_module;
allow load_iwl_modules_script self:key write;
allow load_iwl_modules_script kernel:key search;
allow load_iwl_modules_script rootfs:file r_file_perms;
allow load_iwl_modules_script vendor_file:file rx_file_perms;

not_full_treble(`
    allow load_iwl_modules_script shell_exec:file rx_file_perms;
    allow load_iwl_modules_script toolbox_exec:file rx_file_perms;
')

full_treble_only(`
    allow load_iwl_modules_script vendor_shell_exec:file rx_file_perms;
    allow load_iwl_modules_script vendor_toolbox_exec:file rx_file_perms;
')
