#
# Default hal vehicle service
# oao/hardware/interfaces/automotive/vehicle
#

binder_call(hal_audio_default, hal_vehicle_default)
binder_call(hal_vehicle_default, hal_audio_default)
hal_client_domain(hal_vehicle_default, hal_audio)

#
# Allow hal_vehicle_default to create socket.
# Vehicle HAL service needs to communicates with CAN devices through socketCAN.
#

allow hal_vehicle_default self:can_socket create_socket_perms;
allowxperm hal_vehicle_default self:can_socket ioctl {
  SIOCGIFINDEX
  SIOCSIFNAME
  SIOCSIFFLAGS
};

ignore_adb_debug(`hal_vehicle_default')

allow hal_vehicle_default serial_device:chr_file rw_file_perms;
allow hal_vehicle_default sysfs_power:file rw_file_perms;
