# thermald-lite seclabel is specified in init.<board>.rc
type thermald-lite, domain;

recovery_only(`
domain_trans(init, rootfs, thermald-lite);

allow thermald-lite sysfs_thermal:dir r_dir_perms;
allow thermald-lite sysfs_thermal:file r_file_perms;
allow thermald-lite rootfs:dir read;
allow thermald-lite rootfs:file { map read };
allow thermald-lite sysfs_thermal_management:dir r_dir_perms;
allow thermald-lite sysfs_thermal_management:file r_file_perms;
allow thermald-lite kmsg_device:chr_file w_file_perms;
allow thermald-lite vendor_thermal_prop:property_service set;

# properties
set_prop(thermald-lite, vendor_thermald_lite_logs_enabled_prop)
set_prop(thermald-lite, powerctl_prop)
')
