type vendor_video_codec_prop, property_type;
type vendor_hwcomposer_prop, property_type;
type vendor_gpu_type, property_type;
type vendor_allow_suspend, property_type;
