get_prop(untrusted_app_27, vendor_video_codec_prop)
allow untrusted_app_27 sysfs_net:dir search;
allow untrusted_app_27 sysfs_rtc:dir search;
allow untrusted_app_27 sysfs_rtc:file read;
allow untrusted_app_27 sysfs_rtc:file open;
allow untrusted_app_27 sysfs_rtc:file getattr;
allow untrusted_app_27 vendor_file:file execute;
allow untrusted_app_27 su_exec:file getattr;
allow untrusted_app_27 sysfs:dir read;
allow untrusted_app_27 vendor_file:file { map open read };
allow untrusted_app_27 vendor_file:file getattr;
allow untrusted_app_27 system_lib_file:file execmod;
allow untrusted_app_27 proc_tty_drivers:file read;
allow untrusted_app_27 proc_version:file read;
allow untrusted_app_27 vendor_file:file execute;

