set_prop(vendor_init, vendor_video_codec_prop)
get_prop(appdomain, vendor_video_codec_prop)
set_prop(vendor_init, vendor_suspend_prop)
set_prop(vendor_init, vendor_intel_ipaddr_prop)
get_prop(vendor_init, vendor_hwcomposer_prop)
set_prop(vendor_init, vendor_usb_controller_prop)
get_prop(vendor_init, vendor_fixed_perf_prop)
get_prop(vendor_init, vendor_media_target_prop)
set_prop(vendor_init, vendor_display_prop)
#============= vendor_init ==============
allow vendor_init tmpfs:dir { add_name create write };
set_prop(vendor_init, vendor_mount_ep0_prop)
