set_prop(vendor_init, vendor_video_codec_prop)
get_prop(vendor_init, vendor_hwcomposer_prop)
set_prop(vendor_init, vendor_usb_controller_prop)

#============= vendor_init ==============
allow vendor_init tmpfs:dir { add_name create write };
