#
# init
#

# allow init insmod keyword
allow init kernel:key search;
allow init {
  rootfs
  vendor_file
}:system module_load;

#avc: denied { dac_read_search } for pid=1 comm="init" capability=2 scontext=u:r:init:s0 tcontext=u:r:init:s0 tclass=capability permissive=0
#allow init self:capability dac_read_search;

#allow init sysfs_devices_system_cpu:dir w_dir_perms;
allow init sysfs_devices_system_cpu:file create;
