#
# init
#

# mixin kernel/init.rc write to /sys/kernel/debug/pstate_snb/setpoint
allow init debugfs_pstate:file w_file_perms;

#avc: denied { write } for pid=1 comm="init" name="psys_force_freq" dev="debugfs" ino=8600 scontext=u:r:init:s0 tcontext=u:object_r:debugfs:s0 tclass=file permissive=0
allow init debugfs:file write;

# allow init insmod keyword
allow init kernel:key search;
allow init {
  rootfs
  vendor_file
}:system module_load;

#avc: denied { dac_read_search } for pid=1 comm="init" capability=2 scontext=u:r:init:s0 tcontext=u:r:init:s0 tclass=capability permissive=0
#allow init self:capability dac_read_search;

#allow init sysfs_devices_system_cpu:dir w_dir_perms;
allow init sysfs_devices_system_cpu:file create;
