
# notify others we are ready through property

# access gpio file to get reversing gear status
allow system_app hal_automotive_evs_hwservice:hwservice_manager find;
