# vold
# avc: denied { dac_read_search } for pid=2029 comm="vold" capability=2 scontext=u:r:vold:s0 tcontext=u:r:vold:s0 tclass=capability permissive=0
#allow vold self:capability dac_read_search;
