allow vendor_init docker_data_file:dir { create_dir_perms relabelto };
allow vendor_init docker_data_file:file create_file_perms;
allow vendor_init docker_block_device:blk_file rw_file_perms;;
