type set_board_prop, domain;
type set_board_prop_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(set_board_prop)

set_prop(set_board_prop, vendor_audio_board_prop)

allow set_board_prop vendor_shell_exec:file rx_file_perms;
allow set_board_prop vendor_toolbox_exec:file rx_file_perms;
