type civ_startup_notify, domain, vendor_executes_system_violators;
type civ_startup_notify_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(civ_startup_notify)

#============= civ_startup_notify ==============
allow civ_startup_notify shell_exec:file rx_file_perms;

allow civ_startup_notify system_file:dir r_dir_perms;
allow civ_startup_notify system_file:file rx_file_perms;

allow civ_startup_notify self:{ socket vsock_socket tcp_socket } { create_socket_perms_no_ioctl listen accept };

#============= shell ==============
allow shell civ_startup_notify_exec:file rx_file_perms;
