# Rules for vendor/intel/pstore-clean
type pstore-clean, domain;
type pstore-clean_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(pstore-clean);

allow pstore-clean pstorefs:dir create_dir_perms;
allow pstore-clean pstorefs:file create_file_perms;

# Read from pstore (required from kernel 3.18)
allow pstore-clean self:capability2 syslog;
allow pstore-clean kernel:system syslog_read;
