# allow init to launch processes in this context
binder_service(hal_evs_driver)
binder_call(hal_evs_driver, hal_graphics_allocator_default)
binder_call(hal_evs_driver, hal_graphics_composer_default)
binder_call(hal_evs_driver, evs_manager)
binder_call(hal_evs_driver, surfaceflinger)
binder_call(hal_evs_driver, hal_configstore_default)
binder_call(hal_evs_driver, mediaserver)

# Allow use of USB devices, gralloc buffers, and surface flinger
allow hal_evs_driver gpu_device:dir r_dir_perms;
allow hal_evs_driver gpu_device:file rw_file_perms;
allow hal_evs_driver hal_graphics_allocator_default_tmpfs:file { read write map };
allow hal_evs_driver hal_graphics_mapper_hwservice:hwservice_manager find;
allow hal_evs_driver hal_graphics_composer_default:fd use;
allow hal_graphics_composer_default hal_evs_driver:fd use;
allow hal_evs_driver hwservicemanager:chr_file rw_file_perms;
allow hal_evs_driver sysfs_app_readable:file r_file_perms;
allow hal_evs_driver rootfs:file { r_file_perms execute };
allow hal_evs_driver system_file:dir r_dir_perms;
allow hal_evs_driver self:capability sys_nice;
allow hal_evs_driver mediaserver_service:service_manager find;
binder_call(hal_evs_driver, priv_app)
binder_call(hal_evs_driver, system_app)

binder_call(hal_evs_driver, priv_app)
binder_call(hal_evs_driver, system_app)
