get_prop(evs_app, evs_park_prop)

binder_service(evs_app)
binder_call(evs_app, hwservicemanager)
binder_call(evs_app, evs_manager)
binder_call(evs_app, hal_evs_driver)
binder_call(evs_app, hal_vehicle_default)
binder_call(hal_vehicle_default, evs_app)
binder_call(hwservicemanager, evs_app)
binder_call(evs_app, hal_configstore_default)

allow evs_app gpu_device:dir r_dir_perms;
allow evs_app tmpfs:file rw_file_perms;
allow evs_app sysfs_app_readable:file r_file_perms;
allow evs_app hwservicemanager:chr_file rw_file_perms;
allow evs_app hal_graphics_allocator_default:fd use;
allow evs_app hal_graphics_mapper_hwservice:hwservice_manager find;
allow evs_app hal_graphics_allocator_default_tmpfs:file { read write map };
allow evs_app hal_automotive_evs_hwservice:hwservice_manager find;
allow evs_app hal_evs_hwservice:hwservice_manager find;
allow evs_app hal_graphics_composer_default:fd use;

binder_call(evs_app, system_app)
