#
# mediaswcodec
#
# XXX Refactor to mixin
# path="/sys/bus/pci/drivers/i915"
# path="/sys/devices/pci0000:00/0000:00:02.0/config"

allow mediaswcodec hal_graphics_allocator_default_tmpfs:file { read write map };
allow mediaswcodec gpu_device:dir search;
allow mediaswcodec gpu_device:chr_file { open read write ioctl };
