allow vendor_init self:capability { sys_module net_raw };
allow vendor_init vendor_file:system module_load;
allow vendor_init debugfs_tracing_instances:dir write;
allow vendor_init mediaserver:process setsched;
allow vendor_init system_data_file:dir create_dir_perms;
allow vendor_init self:udp_socket create;
allow vendor_init coreu_data_file:dir create_dir_perms;
