type init_rdtsc, domain;
type init_rdtsc_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(init_rdtsc)

allow init_rdtsc vendor_shell_exec:file rx_file_perms;
allow init_rdtsc vendor_toolbox_exec:file rx_file_perms;
allow init_rdtsc sysfs_devices_system_cpu:file write;
