#
# hal
#

# We only see these requests on sofia3gr, possible refactor out
allow hal self:capability net_raw;
allow hal self:udp_socket create_socket_perms;

# e.g. bluetooth, wifi, sensors nvm access for provisionning and ptest mode
allow hal efs_file:dir create_dir_perms;
allow hal efs_file:file create_file_perms;
allow hal efs_file:lnk_file create_file_perms;
