#
# Kernel
#

# OCT Trace kernel thread opens a USB Gadget TTY to send
# Modem trace information. This trace information is enabled
# or disabled by the customer and requires a key to interact
# with.
# XXX We only allow this on userdebug or eng
userdebug_or_eng(`
  allow kernel serial_device:chr_file rw_file_perms;
')

# Loading manufactured data (e.g. modprobe iwlwifi with nvmData file)
allow kernel efs_file:dir search;
allow kernel efs_file:file { read getattr open };
allow kernel efs_file:lnk_file { read getattr open };

allow kernel rpc_block_device:blk_file rw_file_perms;
allow kernel rpc_block_device:dir search;
