#============= destroy attestation ids ==============
type destroy_attestation_ids_exec, exec_type, file_type, vendor_file_type;
allow shell destroy_attestation_ids_exec:file { read open map getattr execute};
